@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Outfit';
    src: url('/fonts/Outfit.ttf') format('truetype');
    unicode-range: U+0020-007F;
}

@font-face {
    font-family: 'Noto Sans CJK SC';
    src: url('/fonts/NotoSansSC.ttf') format('truetype');
}

* {
    @apply font-body scroll-smooth select-none;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-display;
}
